<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="InputDir" value="" />
    <add key="InputImageFormat" value="png" />
    <add key="OutputDir" value="" />
    <add key="OutputImageName" value="newSprite" />
    <add key="OutputImageFormat" value="jpg" />
    <add key="OutputImageQuality" value="90" />
    <add key="NumPicPerRow" value="5" />
    <add key="ColorKeyR" value="255" />
    <add key="ColorKeyG" value="255" />
    <add key="ColorKeyB" value="255" />
    <add key="SpriteAuto" value="true" />
    <add key="SpriteWidth" value="320" />
    <add key="SpriteHeight" value="240" />
  </appSettings>
</configuration>